*{
	font-family: 'Roboto', sans-serif, Helvetica, Arial, sans-serif, Monospace;
	margin:0; padding:0;
	box-sizing: border-box;
	outline: none; border:none;
	text-decoration: none;
	transition: .2s linear;
	}

html{
	overflow-x: hidden;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;
	}
	html::-webkit-scrollbar{
	width: .8rem;
	}
	html::-webkit-scrollbar-track{
	background: transparent;
	}
	html::-webkit-scrollbar-thumb{
	background: #fff;
	border-radius: 5rem;
	}

body {
	padding-top:200px;
	background: url(),url(),
	linear-gradient(180deg, #F0C072, #6F4706);
}

.home{
	min-height: 100vh;
	display: flex;
	align-items: center;
	background:url(src/View/img/home.png) no-repeat;
	background-size: cover;
	background-position: center;
	}
	.home .content{
	max-width: 60rem;
	}
	.home .content h3{
	font-size: 6rem;
	text-transform: uppercase;
	color:#fff;
	}
	.home .content p{
	font-size: 2rem;
	font-weight: lighter;
	line-height: 1.8;
	padding:1rem 0;
	color:#eee;
	}

/********/

.bgHF {
	background: #252525;
}

footer {
	height: 180px;
}

footer p {
	font-size: 0.9m;
	color: white;
}

.coffeeCor {
	color: #D59920;
}

.hoverCoffee :hover {
	color: #D59920;
}

.navbar-nav .nav-item .nav-link {
	color: white;
}

.navbar-nav .nav-item .nav-link:hover {
	color: #D59920;
}

.cinzaClaro {
    color: #7e7e7e;
}

.menuHeader {
	font-size: 1.2em;
    font-weight: bold;
    font-family: Copperplate;
    letter-spacing: 2px;
}

.BtnPrimary {
	font-size: 1.0em;
    font-weight: bold;
    font-family: Arial;
}



/* Login / Registro */
h3 {
	font-size: 1.8em;
    font-weight: bold;
    font-family: Monospace;
}

.cardBG {
	background: url(),url(),
	linear-gradient(180deg, #252525, #747474);
}

/****/


