
body {
	padding-top:200px;
	background: url(),url(),
	linear-gradient(180deg, #F0C072, #6F4706);
	font-family: 'Roboto', Helvetica, Arial, sans-serif, Monospace;
}

/********/

.bgHF {
	background: #252525;
}

footer {
	height: 180px;
}

footer p {
	font-size: 0.9m;
	color: white;
}

.coffeeCor {
	color: #D59920;
}

.hoverCoffee :hover {
	color: #D59920;
}

.navbar-nav .nav-item .nav-link {
	color: white;
}

.navbar-nav .nav-item .nav-link:hover {
	color: #D59920;
}

.cinzaClaro {
    color: #7e7e7e;
}

.menuHeader {
	font-size: 1.2em;
    font-weight: bold;
    font-family: Copperplate;
    letter-spacing: 2px;
}

.BtnPrimary {
	font-size: 1.0em;
    font-weight: bold;
    font-family: Arial;
}

/* Login / Registro */
h3 {
	font-size: 1.8em;
    font-weight: bold;
    font-family: Monospace;
}

.cardBG {
	background: url(),url(),
	linear-gradient(180deg, #252525, #747474);
}

/****/


